.App {
  text-align: center;
}

.search {
  display: flex;
  flex-direction: row;
}

.search-bar {
  background: #898989;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  outline: none;
}

.search-bar::placeholder {
  color: white;
}

.search-icons {
  display: flex;
  align-items: center;
  padding-left: 1%;
  gap: 10px;
}