* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 120vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5%;
}

.search-bar {
  background: #898989;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  outline: none;
}

.search-bar::placeholder {
  color: white;
}

.search-icons {
  display: flex;
  align-items: center;
  padding-left: 1%;
  gap: 10px;
}

.search-time {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.search-and-city {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5%;
}

.city-weather div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.feels-temperature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.feels-and-temperature {
  padding-bottom: 5%;
}

.feels {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temp {
  display: flex;
  flex-direction: row;
  align-items: center !important;
  gap: 2rem;
}

.units {
  display: flex;
  justify-content: center;
}

.links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin:  0 auto;
  padding-bottom: 4%;
}

.title {
  padding-top: 2%;
  padding-bottom: 2%;
}

.sunset-temperatures {
  display: grid;
  grid-template-columns: repeat(4, auto);
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin:  0 auto;
  padding-bottom: 4%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: solid;
  padding-top: 5%;
}

.cards-wrap {
  display: grid;
  grid-template-columns: repeat(5, auto);
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin:  0 auto;
  padding-bottom: 5%;
}

.toggle-button-cover {
  display: flex;
  align-items: center;
  position: relative;
  height: 140px;
  box-sizing: border-box;
}


.button-cover:before {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #d7e3e3;
  font-size: 12px;
}

.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.button {
  position: relative;
  top: 50%;
  width: 74px;
  height: 36px;
  overflow: hidden;
}

.button.r,
.button.r .layer {
  border-radius: 100px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: #d7e3e3;
  transition: 0.3s ease all;
  z-index: 1;
}

/* Button 1 */
#button-1 .knobs:before {
  content: "C°";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 10px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px 4px;
  background-color: #03a9f4;
  border-radius: 50%;
  transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#button-1 .checkbox:checked + .knobs:before {
  content: "F°";
  left: 42px;
  background-color: purple;
}

#button-1 .checkbox:checked ~ .layer {
  background-color: #d7e3e3;
}

#button-1 .knobs,
#button-1 .knobs:before,
#button-1 .layer {
  transition: 0.3s ease all;
}
