.App {
  text-align: center;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 5%;
}

.search-bar {
  background: #898989;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  outline: none;
}

.search-bar::placeholder {
  color: white;
}

.search-icons {
  display: flex;
  align-items: center;
  padding-left: 1%;
  gap: 10px;
}

.search-time {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.search-and-city {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 5%;
}

.city-weather div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.feels-temperature {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.feels-and-temperature {
  padding-bottom: 5%;
}

.feels {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.temp {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.units {
  display: flex; 
  gap: 15%;
  padding-left: 2rem;
}

.links {
  display: grid;
  grid-template-columns: repeat(5, auto);
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin:  0 auto;
  padding-bottom: 4%;
}

.title {
  padding-top: 2%;
  padding-bottom: 2%;
}

.sunset-temperatures {
  display: grid;
  grid-template-columns: repeat(4, auto);
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin:  0 auto;
  padding-bottom: 4%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-top: solid;
  padding-top: 5%;
}

.cards-wrap {
  display: grid;
  grid-template-columns: repeat(5, auto);
  height: 80px;
  width: 90%;
  max-width: 1720px;
  margin:  0 auto;
  padding-bottom: 5%;
}